<!-- /templates/dashboard.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>SentinelGuard Dashboard</h1>

    <!-- Placeholder div for the Plotly chart -->
    <div id="logEventsChart"></div>

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Listen for updates from the server and update the chart
        socket.on('update_plot', function (plot_json) {
            Plotly.react('logEventsChart', JSON.parse(plot_json));
        });
    </script>
</body>
</html>

